<div class="header-inner section-inner">

  <div class="header-titles-wrapper">
    <div class="header-titles">
      <p class="site-logo">
        <a href="{{ site.Home.RelPermalink }}" rel="home"{{ if .IsHome }} aria-current="page"{{ end }}>
          <img src="/images/logo.png" alt="{{ site.Title }}" width="88" height="88">
        </a>
      </p>
      <p class="site-title"><a href="{{ site.Home.RelPermalink }}" rel="home">{{ site.Params.description }}</a></p>
    </div>
  </div>

  <div class="header-navigation-wrapper">
    {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
  </div>

</div>
