<!DOCTYPE html>
<html class="no-js" lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="{{ if .IsHome }}home blog{{ else if .IsPage }}singular{{ else }}archive{{ end }}">

  <a class="skip-link screen-reader-text" href="#site-content">Skip to the content</a>

  <header id="site-header" class="header-footer-group" role="banner">
    {{ partial "header.html" . }}
  </header>

  <main id="site-content" role="main">
    {{ block "main" . }}{{ end }}
  </main>

  {{ partial "footer.html" . }}

  {{ partialCached "head/js.html" . }}
</body>
</html>
